{% extends "app/layout.html" %} {% block content %} <br>

{% load static %}

{% if request.user.is_authenticated == True %}
<!-- Modal -->



<div class="modal fade" id="symptoms_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Symptoms</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form>
              {{prediction_form|crispy}}
           </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div id="app">
                  <h1 class="display-6">Add Chicken</h1>
                    <p class="lead">You can add chickens here by entering the required fields.</p>
                  <form enctype="multipart/form-data" class="form-horizontal"> {% csrf_token %} {{add_chicken|crispy}}
                    <button type="button" style="" class="btn btn-success" @click="addChicken()">Add Chicken</button>
                  </form>
                </div>

                <script>
                  new Vue({
                    delimiters: ["[[", "]]"],
                    el: "#app",
                    mounted() {
                      console.log("Mounted");
                    },
                    methods: {
                      addChicken() {
                        console.log("Clicked");
                        const tag_number = document.getElementById('id_tag_number').value;
                        const fowl_pox_vaccine = document.getElementById('id_fowl_pox_vaccine').checked;
                        const is_infected = document.getElementById('id_is_infected').checked;
                        const birthdate = document.getElementById('id_birthdate').value;
                        const csrftoken = getCookie('csrftoken'); // Function to retrieve the CSRF token from the cookie
                        axios.defaults.headers.common['X-CSRFToken'] = csrftoken;
                        const formData = new FormData();
                        formData.append('tag_number', tag_number);
                        formData.append('fowl_pox_vaccine', fowl_pox_vaccine);
                        formData.append('birthdate', birthdate);
                        formData.append('is_infected', is_infected);
                        axios.post("/api/chickens/", formData).then(response => {
                          alert("Chicken added successfully!");
                        }).catch(error => {
                          alert("Error adding chicken: " + error.message);
                        });
                      }
                    }
                  });
                </script>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div id="chicken_table">
                  <h1 class="display-6">Lists of Chicken</h1>
                    <p class="lead">This is the list of chickens.</p>
                  <table class="table table-responsive table-sm">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Tag Number</th>
                        <th>Fowl Pox Vaccine</th>
                        <th>Birthdate</th>
                        <th>Is Infected</th>
                        <th>Picture</th>
                        <th>Delete</th>
                        <th>Diagnose Chicken</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="chicken in chickens" :key="chicken.id">
                        <td>[[ chicken.id ]]</td>
                        <td>[[ chicken.tag_number ]]</td>
                        <td>[[ chicken.fowl_pox_vaccine ]]</td>
                        <td>[[ chicken.birthdate ]]</td>
                        <td>[[ chicken.is_infected ]]</td>
                        <td>
                          <button class="btn btn-secondary">Add Picture for Chicken</button>
                        </td>
                        <td>
                          <button type="submit" class="btn btn-danger" @click="deleteChicken(chicken.id)">Remove chicken</button>
                        </td>
                        <td>
                          <button type="submit" id="routine_button" class="btn btn-warning" onclick="$('#symptoms_modal').modal('toggle')">Diagnose my chicken</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <script>
                  function getCookie(name) {
                    const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
                    return cookieValue ? cookieValue.pop() : '';
                  }
                  new Vue({
                    delimiters: ["[[", "]]"],
                    el: "#chicken_table",
                    data: {
                      chickens: [],
                    },
                    mounted() {
                      setInterval(this.fetchChickens, 1000);
                    },
                    methods: {
                      fetchChickens() {
                        axios.get("/api/chickens/").then(response => {
                          this.chickens = response.data;
                          console.log(this.chickens);
                        }).catch(error => {
                          console.error(error);
                        });
                      },
                      deleteChicken(chickenId) {
                        const csrftoken = getCookie('csrftoken'); // Function to retrieve the CSRF token from the cookie
                        axios.defaults.headers.common['X-CSRFToken'] = csrftoken;
                        axios.delete(`/api/chickens/${chickenId}/`).then(response => {
                          console.log("Chicken deleted successfully!");
                          alert("Deleted");
                          // Handle any further actions after successful deletion
                        }).catch(error => {
                          console.error("Error deleting chicken:", error);
                          // Handle any errors that occur during deletion
                        });
                        },


                    }
                  });
                </script>

            </div>
        </div>
    </div>

</div>






<div class="row" hidden>
  <div class="col-lg-12">
    <h1 class="display-6">Chicken Dataset</h1>
    <p class="lead">This is the basis and dataset of Random Forest Tree Regression</p>

    <div id="history">
      <table class="table">
        <thead>
          <tr>
            <th>Chicken Fowl Pox Vaccine</th>
            <th>Chicken Verdict</th>
            <th>Morning Bath</th>
            <th>Afternoon Bath</th>
            <th>Vitamin A</th>
            <th>Vitamin D</th>
            <th>Vitamin E</th>
            <th>Vitamin K</th>
            <th>Vitamin B1</th>
            <th>Date of Routine</th>
            <th>Is Infected?</th>
            <th>Chicken Tag Number</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="chicken in chickenHistories" :key="chicken.id">
            <td>[[ chicken.chicken_fowl_pox_vaccine ]]</td>
            <td>[[ chicken.chicken_verdict ]]</td>
            <td>[[ chicken.is_morning_bath ]]</td>
            <td>[[ chicken.is_afternoon_bath ]]</td>
            <td>[[ chicken.is_vitamin_a ]]</td>
            <td>[[ chicken.is_vitamin_d ]]</td>
            <td>[[ chicken.is_vitamin_e ]]</td>
            <td>[[ chicken.is_vitamin_k ]]</td>
            <td>[[ chicken.is_vitamin_b1 ]]</td>
            <td>[[ chicken.date ]]</td>
            <td>[[ chicken.is_infected ]]</td>
              <td>[[ chicken.tag_number ]]</td>
          </tr>
        </tbody>
      </table>
    </div>

<script>
  function getCookie(name) {
    const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
    return cookieValue ? cookieValue.pop() : '';
  }
  new Vue({
    delimiters: ["[[", "]]"],
    el: "#history",
    data: {
      chickenHistories: [],
    },
    mounted() {
      setInterval(this.fetchChickens, 1000);
    },
    methods: {
      fetchChickens() {
        axios.get("api/chicken-history/").then(response => {
          this.chickenHistories = response.data;
          console.log(this.chickenHistories);
        }).catch(error => {
          console.error(error);
        });
      }
    }
  });
</script>


  </div>
</div> 

{% else %}

     <h1 class="display-6">Poultry Diseases Forecasting System</h1>
 <p class="lead">This system will benefit the agriculture industry to forecast the possible diseases emerging in poultry.</p>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
   
        <img src="{% static 'app/img/bg.jpg' %}" alt="Sample Image" class="img-fluid" alt="Responsive image">
       

            </div>
        </div>

    </div>
</div>


{% endif %}



{% endblock %}